//estilos de titulo
$fuente-titulo:'Product Sans';
$tamano-titulo:2.25rem;
$color-fuente:#424242;
//estilos de subtitulo
$tamano-subtitulos:1.5rem;
//estilos de parrafos
$fuente-parrafos:'Roboto';
$tamano-parrafos:18px;
$color-parrafos:#414549;
//estilos de fechas
$fuente-fecha:'Roboto Mono';
$tamano-fecha:16px;
$color-fecha:#5f6368;
//estilos seccion dos
$tamano-seccion-dos:24px;
$color-seccion-dos:#212121;
//estilos de borde seccion dos
$azul:#4285F4;
$seccion-azul:#F1F3F4;
$borde-seccion-dos:4px solid $azul;
//crear el if de los iconos
$verdadero: true;
